<% provide :page_title, "#{@presenter.title.join(', ')} - #{application_name}" %>

<% desc = @presenter.description %>

<% if desc %>
  <% content_for :head do %>
    <meta name="description" content="<%= desc.first %>">
  <% end %>
<% end %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div class="col-sm-12">
      <header>
        <% @presenter.title.each do |title| %>
          <h1 class="lower"><%= title %></h1>
        <% end %>

        <% desc.each do |description| %>
          <p class="collection_description">
            <%= linkify(description).html_safe %>
          </p>
        <% end %>
      </header>

      <% unless has_collection_search_parameters? %>
      <%= render 'collections/show_descriptions' %>
      <% end %>
    </div>
  </div>

  <% if has_collection_search_parameters? %>
    <% header_title = "Search Results within this Collection" %>
  <% else %>
    <% header_title = "Items in this Collection" %>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="col-xs-6 col-md-7 col-lg-6"><%= header_title %></h2>
      <%= render 'search_form', presenter: @presenter %>
    </div>
  </div>

  <%= render 'sort_and_per_page', collection: @presenter %>

  <%= render_document_index @member_docs %>

  <%= render partial: 'paginate' %>
</div>
