<% if desc = @presenter.description %>
  <% content_for :head do %>
    <meta name="description" content="<%= desc %>">
  <% end %>
<% end %>

<% # overridden to remove multiple upload and show actions %>
<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>
<%= render 'deep_zoom', presenter: @presenter %>
<%= render 'index_maps', presenter: @presenter %>
<%= render 'component_maps', presenter: @presenter %>
<%= render 'attributes', presenter: @presenter %>
<%= render "map_set_attributes", presenter: @presenter %>
