<div class="static">
  <h1> Contact Us </h1>
  <p> Please visit our <a href="/welcome/using">FAQs</a> for immediate answers to commonly asked questions. You may also use the contact form to submit questions about the Alexandria Digital Research Library website, to report a problem you are experiencing with the system, or to provide feedback. </p>

  <p>
  <%= form_tag(contact_us_form_path) do %>
    <p><%= label_tag :category, 'Issue Type (Please Select)' %>
      <%= select_tag :category, options_for_select(contact_us_categories, 'General Inquiry or Request'), required: true %></p>

    <p><%= label_tag :name, 'Your Name' %>
      <%= text_field_tag :name, nil, required: true %></p>

    <p><%= label_tag :email, 'Your Email' %>
      <%= email_field_tag :email, nil, required: true %></p>

    <p class="invisible">
      <%= label_tag :zipcode, 'Your Zip Code (Humans: Leave This Empty)' %>
      <%= text_field_tag :zipcode, nil %></p>

    <p><%= label_tag :message %>
      <%= text_area_tag :message, nil, rows: 8, required: true %></p>

    <p><%= submit_tag('Send', class: 'btn btn-primary') %></p>
  <% end %>
  </p>
</div>
