<footer>
  <div class="meta-adrl">
    <div class="copyright">
      Copyright 2014–<%= Date.today.year %> The Regents of the University of California, All Rights Reserved.
    </div>
    <div class="version">
      Version <%= BRANCH %> updated <%= LAST_DEPLOYED %>
    </div>
  </div>

  <div class="meta-ucsb">
    <div class="logo-link">
      <%= link_to "http://www.library.ucsb.edu" do %>
        <%= image_tag 'library-logo.png', alt: "UCSB Library Logo" %>
      <% end %>
    </div>

    <div>
      <%= link_to "http://www.ucsb.edu" do %>
        <%= image_tag('UCSB-logo-small.png', alt: "UCSB logo", class: 'ucsb-small') %>
        <strong>UC Santa Barbara</strong><br />
        Santa Barbara, CA 93106-9010
      <% end %>
    </div>
  </div>
</footer>
