<header class="splash" style="background-image: url('<%= @background['url'] %>');">
  <%= render partial: '/user_util_links' %>

  <div class="flex-outer">
    <div class="flex-inner">
      <div class="large-logo">
        <%= link_to image_tag("ADRL_Large_Logo_805x186.png", { alt: "ADRL Logo" }), root_path, { title: "ADRL Home" } %>
      </div>

      <h2>Providing access to unique digital research materials from UC Santa Barbara Library</h2>

      <div id="splash-search-bar">
        <%= render 'catalog/search_form' %>
      </div>

      <section id="browse-by">
        Or browse by
        <%= link_to 'Collection', collections_path %>,
        <%= link_to 'Contributor', facet_catalog_path(ContributorIndexer::ALL_CONTRIBUTORS_FACET) %>,
        <%= link_to 'Format', facet_catalog_path(Solrizer.solr_name('work_type_label', :facetable)) %>,
        or
        <%= link_to 'Topic', facet_catalog_path(Solrizer.solr_name('lc_subject_label', :facetable)) %>
      </section>
    </div>
  </div>

  <div class="background-metadata">
    <p>Background: <a href="/lib/<%= "#{Rails.application.secrets.ezid_default_shoulder}/#{@background['ark']}" %>" title="Record page"><%= @background['title'] %></a><br>
      Part of <a href="/collections/<%= @background['collection_id'] %>" title="Collection page"><%= @background['collection_title'] %></a></p>
  </div>
</header>
