<header class="splash" style="background-image: url('<%= image_path(@background['image_path']) %>');">
  <%= render partial: '/user_util_links' %>

  <div class="flex-outer">
    <div class="flex-inner">
      <div class="large-logo">
        <a href="/" title="ADRL Homepage">
          <img src="<%= image_path("ADRL@1x.png") %>"
            srcset="<%= image_path("ADRL@2x.png") %> 2x"
            alt="Alexandria Digital Research Library">
        </a>
      </div>

      <div id="splash-search-bar">
        <%= render 'catalog/search_form' %>
      </div>

      <section id="browse-by">
        Or browse by
        <%= link_to 'Collection', main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}) %>,
        <%= link_to 'Contributor', facet_catalog_path(ObjectIndexer::ALL_CONTRIBUTORS_FACET) %>,
        <%= link_to 'Format', facet_catalog_path(Solrizer.solr_name('work_type_label', :facetable)) %>,
        or
        <%= link_to 'Topic', facet_catalog_path(Solrizer.solr_name('lc_subject_label', :facetable)) %>
      </section>

      <h2 class="blurb">Providing access to unique digital research materials from UC Santa Barbara Library</h2>

    </div>
  </div>

  <div class="background-metadata">
    <% unless @background.empty? %>
      <p class="background-metadata-title"><a href=<%= ark_path(@background['ark']) %>" title="Record page"><%= @background['title'] %></a></p>
      <p class="background-metadata-collection">From the <a href="<%= ark_path("#{Ezid::Client.config.default_shoulder}/#{@background['collection_id']}") %>" title="Collection page"><%= @background['collection_title'] %></a></p>
    <% end %>
  </div>
</header>
