<% if desc = @presenter.description %>
  <% content_for :head do %>
    <meta name="description" content="<%= desc %>">
  <% end %>
<% end %>

<% # overridden to remove multiple upload and show actions %>
<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>
<%= render 'representative_media', presenter: @presenter %>
<h2>Index Maps</h2>
<% @presenter.index_map_presenters.each_with_index do |p,i| %>
  <%= render_thumbnail_tag p.solr_document, {}, { class: "IndexMap", id: "indexmap#{i}" }%>
<% end %>

<h2>Component Maps</h2>
<div class="row">
<% @presenter.component_map_presenters.each_with_index do |p,i| %>
  <div class="col-xs-6 col-md-2">
    <%= render_thumbnail_tag p.solr_document, { class: "ComponentMap"}, { class: "thumbnail", id: "componentmap#{i}" }%>
  </div>
<% end %>
</div>
<%= render 'attributes', presenter: @presenter %>
<%= render 'related_files', presenter: @presenter %>
