<table class="table table-bordered" id="downloads">
  <thead>
    <tr>
      <th>File</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="access-row allowed" colspan="2">Access: <%= policy_title(document) %><%= document.after_embargo_status%></td>
    </tr>
    <% document.file_sets.sort { |a, b| a.fetch('original_filename_ss') <=> b.fetch('original_filename_ss') }.each do |fs| %>
      <tr>
        <td class="col_1">
          <span class="fa <%= icon_class(fs) %>"> </span>
          <%= link_to_file(fs) %>
        </td>
        <td class="col_2">
          <%= fs["file_format_tesim"].first %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
