<% component_maps = document.component_maps %>
<% index_maps = document.index_maps.reject { |i| i["square_thumbnail_url_ssm"].nil? } %>

<% if index_maps.present? %>
  <div class="col-md-3 map-tray">
    <h3>Index Maps</h3>
    <ul>
    <% index_maps.each_with_index do |map, i| %>
      <% shoulder = params["shoulder"] || map["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>
      <li>
        <%=
        link_to(
          image_tag(map["square_thumbnail_url_ssm"].first),
          main_app.catalog_ark_path("ark:", shoulder, map.id),
          :id => "indexmap#{i}"
        )
        %> <%=
        link_to(
          content_tag(:span, map["title_tesim"].first, class: "tray-label"),
          main_app.catalog_ark_path("ark:", shoulder, map.id)
        )
        %>
      </li>
    <% end %>
  </ul></div>
<% end %>

<% if component_maps.present? %>
  <% # If there are no index maps, take up the whole width of the screen
    if index_maps.count == 0 %>
      <div class="col-md-12 map-tray">
  <% # If there is a single index map, split it 3/9
    elsif index_maps.count == 1 %>
      <div class="col-md-9 map-tray">
  <% end %>
  <%
     self_index = component_maps.index { |cm| cm.id == document.id }
     counter_string = if self_index.is_a? Integer
       " (viewing #{self_index + 1} of #{component_maps.count})"
     end
  %>
  <h3>Component Maps<%= counter_string %></h3>
  <ul>
    <%
    component_maps.each_with_index do |comp, i| %>
      <% self_map = document.id == comp.id %>
      <% shoulder = params["shoulder"] || comp["identifier_ssm"].first.match(%r{ark:\/([^\/]+)\/.*})[1] %>
      <li>
        <%=
        img = image_tag(comp["square_thumbnail_url_ssm"].first,
                        class: "#{'self-map' if self_map}")
        # don't link to yourself
        if self_map
          img
        else
          link_to(img, main_app.catalog_ark_path("ark:", shoulder, comp.id))
        end
        %> <%=
           span = content_tag(:span,
                              comp["alternative_tesim"].first,
                              class: "tray-label#{' self-map' if self_map}")
           # don't link to yourself
           if self_map
             span
           else
             link_to(span, main_app.catalog_ark_path("ark:", shoulder, comp.id))
           end
        %>
      </li>
    <% end %>
  </ul></div>
<% end %>
