<nav class="menu">
<ul>
  <li><%= link_to 'About ADRL', main_app.about_path %></li>
  <li><%= link_to 'Using ADRL', main_app.using_path %></li>
  <li><%= link_to 'Usage Guidelines', main_app.collection_usage_guidelines_path %></li>
  <li><%= link_to 'Contact Us', main_app.contact_us_form_path %></li>

  <%= local_authorities_link %>
  <%= new_record_link %>
  <%= embargoes_link %>

  <% if Rails.env.development? %>
    <li class="login-link">
      <% if current_user %>
        <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path %>
        <% unless current_user.to_s.blank? %>
          <%= "(#{current_user})" %>
        <% end %>
      <% else %>
        <%= link_to 'Login', main_app.new_user_session_path %>
      <% end %>
    </li>
  <% end %>
</ul>
</nav>
